@import './vars';

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  align-self: flex-start;
  align-items: center;
}

@mixin flex-baselined {
  display: flex;
  align-items: baseline;
}

@mixin continue-button {
  margin: 25px 0 30px;
  width: $main-elements-width;
  height: 48px;
  font-weight: $font-bold;
  font-size: 1.3em;
  line-height: 1.26em;
  background: $accent-continue-button-color;
  color: $main-color;
  border-style: none;
  border-radius: 3px;
}

@mixin button-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 56px;
  margin-top: 16px;
  width: $main-elements-width;
  height: 48px;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: $main-color;
  text-decoration: none;
  font-size: 14px;
  color: $bright-color;
}

@mixin button-picture {
  left: 14px;
  top: 9px;
  content: "";
  position: absolute ;
  width: 28px;
  height: 28px;
}

@mixin cursor-hover {
  cursor: pointer;
}

@mixin hover-text {
  cursor: pointer;
  color: $accent-color;
}

@mixin transition-effect {
  transition: color 0.5s ease-out;
}
