@import './vars';

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  align-self: flex-start;
  align-items: center;
}

@mixin flex-baselined {
  display: flex;
  align-items: baseline;
}

@mixin continue-button {
  margin: 25px 0 0;
  width: 100%;
  max-width: $main-elements-width;
  height: 48px;
  font-weight: $font-bold;
  font-size: 1.3em;
  line-height: 1.26em;
  background: $secondary300;
  color: $other00;
  border-style: none;
  border-radius: 3px;
}

@mixin button-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 40px 0 56px;
  margin-top: 16px;
  width: 100%;
  max-width: 314px;
  height: 48px;
  border: 1px solid $other400;
  border-radius: 4px;
  background-color: $other00;
  text-decoration: none;
  font-size: 14px;
  color: $primary300;
  background-color: $other50;
}

@mixin button-picture {
  left: 14px;
  top: 9px;
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
}

@mixin cursor-hover {
  cursor: pointer;
}

@mixin hover-text {
  cursor: pointer;
  color: $primary400;
}

@mixin transition-effect {
  transition: color 0.5s ease-out;
}
