* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

hr {
  border-width: 0;
}


