$font-regular: 400;
$font-bold: 500;

$main-color: #fff;
$main-border-color: #e2e9f3;
$half-dark-color: #8c93a3;
$input-color: #929bad;
$accent-color: #00308d;
$bright-color: #2856ae;
$border-color: #cdd7e5;
$continue-button-color: #008960;
$accent-continue-button-color: #3ebf8a;
$checkbox-color: #2b3151;
$error-danger-color: #e1485b;
$input-border-focus-color: #0092cb;
$input-background-color: #f4faff;
$input-background-danger-color: #fffbfb;
$focus-text-color: #000;
$background-color: #f6f8fc;

$main-elements-width: 264px;
$main-full-width: 360px;
