$main-elements-width: 264px;
$main-full-width: 360px;

$font-regular: 400;
$font-bold: 500;

$text300: #8c93a3;
$text500:#2b3151;

$primary100: #f5faff;
$primary200: #61A8EA;
$primary300: #2856ae;
$primary400: #00308d;

$secondary300: #3ebf8a;
$secondary400: #008960;

$error100: #fffbfb;
$error300: #e1485b;

$other00: #fff;
$other50:#fcfdff;
$other100: #f6f8fc;
$other200: #e2e9f3;
$other400: #cdd7e5;
$other500: #b0baca;
$other600: #929bad;
