$font-regular: 400;
$font-bold: 500;

$main-color: #fff;
$main-border-color: #E2E9F3;
$half-dark-color: #8C93A3;
$input-color: #929BAD;
$accent-color:#00308D;
$bright-color: #2856AE;
$border-color: #CDD7E5;
$continue-button-color: #008960;
$accent-continue-button-color: #3EBF8A;
$checkbox-color:#2B3151;

$main-elements-width: 264px;
$main-full-width: 360px;
