.card {
  @include flex-centered-column;
  width: $main-full-width;
  border: 1px solid $main-border-color;
  background-color: $main-color;
  border-radius: 6px;

  &__title {
    margin-top: 24px;
    font-size: 1.71em;
    font-weight: $font-bold;
    line-height: 1.7em;
    color: $checkbox-color;
  }
  
  &__subtitle-wrapper {
    @include flex-baselined;
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 1.14em;
    line-height: 1.37em;
    color: $checkbox-color;
  }
  
  &__sign-button {
    margin-left: 5px;
    border-style: none;
    font-size: 1.14em;
    background-color: $main-color;
    color: $bright-color;
      &:hover {
        @include hover-text;
      }
  }

  &__button-wrapper {
    @include flex-column;
  }

  &__button-microsoft,
  &__button-google {
    @include button-link;
    &:hover {
      @include cursor-hover;
      color: $accent-color;
    }
  }

  &__button-google::after,
  &__button-microsoft::after {
    @include button-picture;
  }
  
  &__button-google::after {
    background: url("../images/Google__G__Logo.svg"); 
  }

  &__button-microsoft::after {
    background: url("../images/Microsoft_logo11.svg");
  }

  &__decoration {
    position: relative;
    top: 20px;
    height: 1px;
    width: $main-elements-width;
    background-color: $main-border-color;
    border-radius: 1px;
    z-index: 1;
  }

  &__middle-paragraph {
    margin-bottom: 5px;
    padding: 0 10px;
    font-size: 1.28em;
    color: $half-dark-color;
    background: $main-color;
    z-index: 2;
  }
}
