.card {
  @include flex-centered-column;
  max-width: $main-full-width;
  width: 100%;
  border: 1px solid $other200;
  background-color: $other00;
  border-radius: 6px;
  padding: 24px 48px 32px;

  &__title {
    font-size: 1.71em;
    font-weight: $font-bold;
    line-height: 1.7em;
    color: $text500;
  }

  &__subtitle-wrapper {
    @include flex-baselined;
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-top: 8px;
    font-size: 1.14em;
    line-height: 1.37em;
    color: $text500;
  }

  &__sign-button {
    margin-left: 4px;
    border-style: none;
    font-size: 1.14em;
    background-color: $other00;
    color: $primary300;
    @include transition-effect;
    &:hover {
      @include hover-text;
    }
  }

  &__button-wrapper {
    @include flex-column;
  }

  &__button-microsoft,
  &__button-google {
    @include button-link;
    @include transition-effect;
    &:hover {
      @include cursor-hover;
      color: $primary400;
    }
  }

  &__button-google::after,
  &__button-microsoft::after {
    @include button-picture;
  }

  &__button-google::after {
    background: url('../images/Google__G__Logo.svg');
  }

  &__button-microsoft::after {
    background: url('../images/Microsoft_logo11.svg');
  }

  &__decoration {
    position: relative;
    top: 20px;
    height: 1px;
    max-width: $main-elements-width;
    width: 100%;
    background-color: $other200;
    border-radius: 1px;
    z-index: 1;
  }

  &__middle-paragraph {
    margin-bottom: 4px;
    padding: 0 8px;
    font-size: 1.28em;
    color: $text300;
    background: $other00;
    z-index: 2;
  }
}
