.form {
  @include flex-centered-column;

  &__input {
    margin-top: 14px;
    padding: 10px 8px;
    width: $main-elements-width;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: 1.14em;
    color: $input-color;

    &:focus {
      outline: none !important;
      border: 1px solid $input-border-focus-color;
      background-color: $input-background-color;
      color: $focus-text-color;
    }
  }

  &__input.error {
    border: 1px solid $error-danger-color !important;
    background-color: $input-background-danger-color ;
  }

  &__input--password {
    margin-top: 24px;
  }

  &__forgot-password {
    margin: 24px 0 26px 0;
    font-size: 1.14em;
    line-height: 1.36em;
    color: $bright-color;
    border-style: none;
    background-color: $main-color;
      &:hover {
        @include hover-text;
      }
  }

  &__input-group {
    align-self: flex-start;
  }

  &__label {
    font-size: 1.14em;
    line-height: 1em;
    color: $checkbox-color;
    @include flex-centered;
  }

  &__checkmark {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__container {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #B0BACA;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 130%;
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  &__icon {
    position: relative;
    left: -2px;
    top: -2px;
    display: none;
    width: 20px;
    height: 20px;
    background-color: $accent-continue-button-color;
    border-radius: 0.25em;
  }

  &__checkmark:checked+label .form__icon {
    display: block;
  }

  &__button {
    @include continue-button;
      &:hover {
        cursor: pointer;
        background: $continue-button-color;
      }
  }

  &__error {
    width: 100%;
    margin-top: 2px;
    text-align: end;
    font-size: 12px;
    line-height: 15px;
    color: $error-danger-color;
    margin-bottom: -16px;
  }
}
