.form {
  @include flex-centered-column;

  &__input {
    margin-top: 14px;
    padding: 10px 8px;
    width: $main-elements-width;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: 1.14em;
    color: $input-color;
  }

  &__forgot-password {
    margin: 24px 0 26px 0;
    font-size: 1.14em;
    line-height: 1.36em;
    color: $bright-color;
    text-decoration: none;
      &:hover {
        @include hover-text;
      }
  }

  &__checkbox {
    @include flex-start;
    font-size: 1.14em;
    line-height: 1em;
    color: $checkbox-color;
  }

  &__checkmark {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    color: $checkbox-color;
  }

  &__button {
    @include continue-button;
      &:hover {
        cursor: pointer;
        background: $continue-button-color;
      }
  }

  &__error {
    width: 100%;
    margin-top: 2px;
    text-align: end;
    font-size: 12px;
    line-height: 15px;
    color: $error-danger-color;
  }
}